# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# Environment
.env
.venv/
venv/

# IDE
.vscode/
.idea/

# Frontend
frontend/node_modules/
frontend/dist/

# Tauri / Rust
frontend/src-tauri/target/
frontend/src-tauri/gen/
frontend/src-tauri/Cargo.lock

# OS
.DS_Store
Thumbs.db
docs/
